body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.enterKey {
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-color: rgb(151, 46, 226);
    text-align: center;
}

.enterKey input {
    font-size: 15px;
    margin-left: 5px;
    width: 200px;
    height: 20px;
}

.enterKey span {
    font-size: 20px;
    font-family: Kanit;
}

.main-content, .answerYes {
    display: none;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-color: rgb(151, 46, 226);
    text-align: center;
}

.headerText {
    font-size: 30px;
    font-family: Kanit;
    line-height: 200px;
}

.choice {
    color: black;
    font-size: 20px;
    font-family: Kanit;
    margin-inline: 5%;
    padding-inline: 10%;
    border: solid 1px black;
    border-radius: 5px;
    transition: all 0.7s;
}

.choice:hover {
    padding-inline: 15%;
    color: white;
    background-color: rgb(59, 81, 245);
}

#brr {
    display: none;
}

.submit {
    color: black;
    font-size: 20px;
    font-family: Kanit;
    padding-inline: 5%;
    border: solid 1px black;
    border-radius: 5px;
    transition: all 0.7s;
}

.submit:hover {
    padding-inline: 8%;
    color: white;
    background-color: rgb(59, 81, 245);
}
